.not-found-div {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}
.nf {
  width: 60%;
}
.nf-h1 {
  color: #ffffff;
}
.nf-p {
  color: #ffffff;
}
